@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    background: #4C0B5F;
}

.cont{
    display: flex;
    width: 65%;
    background: white;
    height: 91%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color:black;
    border-radius: 5px;
    box-shadow:  5px 6px 6px  rgba(10, 10, 10, 0.664);
}
.h{
    margin-left: 23%;
    margin-top: 10px;
    width: 30%;
}


.photo{
    position: absolute;
    margin-top: 35%;
    width: 32%;
    margin-left: 81%;
}

input{
    background-color: #4C0B5F;
    border:1px solid rgb(34, 26, 42);
    border-radius:4px;
    box-shadow: 0px 2px 2px rgb(44, 41, 41);
    display:inline-block;
    cursor:pointer;
    font-family:Verdana;
    font-weight:bold;
    font-size:13px;
    padding:6px 15px;
    text-decoration:none;
    margin-top: 28px;
    margin-left: 8%;

}

@media(max-width: 700px){
    
    .cont .h{
        width: 50%;
        margin-left: 5.5%;
        margin-top: 5%;
    }
    .photo{
        margin-top: 100%;
        margin-left: 90%;
    }
    input{
        margin-left: 1%;
    }

}
